<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>숨좀쉬자</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" href="./css/main.css">

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.2/dist/Chart.min.js"></script>
	<script src="./js/main.js"></script>

</head>
<body>
	<div class="container">
		<header id="header">
			<button type="button" class="btn-menu">메뉴</button>
			<a href="#" class="btn-home">홈으로</a>

			<div class="nav">
				<div class="nav-wrap">
					<h2 class="logo">로고</h2>
					<div class="search-box">
						<input
								type="text"
								id="mySearch"
								onkeyup="myFunction()"
								placeholder="Search.."
								title="메뉴를 입력하세요."
						/>
						<button type="button"></button>
					</div>
					<ul id="myMenu">
							<li class="btn-choice-mode"><a href="#">메인페이지</a></li>
							<li class="btn-air"><a href="#">상세 공기 상태</a></li>
							<li class="active"><a href="#">누적 데이터</a></li>
							<li class="btn-remote"><a href="#">리모컨 기능</a></li>
							<li class="btn-mode"><a href="#">모드설정</a></li>
					</ul>
					<button type="button" class="btn-close">닫기</button>
					<button type="button" class="btn-logout" ><a href="#">로그아웃</a></button>
				</div>
			</div>
		</header>
		<div class="contents-wrap">
			<h3 class="sub-title">그래프</h3>

			<div class="chart-wrap">
				<select name="" id="select_box" onchange="change_dropbox();">
					<option value="0">온도</option>
					<option value="1">습도</option>
					<option value="2">PM2.5</option>
					<option value="3">PM10</option>
					<option value="4">VOC</option>
					<option value="5">CO2</option>
				</select>

				<!-- 차트 -->
				<div class="chart-box">
					<canvas id="myChart"></canvas>
				</div>
				<!-- 차트 -->

				<div class="chart-info">
					<div class="date">
						<p><%=yyyy%>.<%=mm%>.<%=dd%></p>
					</div>
					<ul>
						<li>
							<h4>온도<span>Temperature</span></h4>
							<strong><%=Inner_temp%></strong>
						</li>
						<li>
							<h4>습도<span>Humidity</span></h4>
							<strong><%=Inner_humid%></strong>
						</li>
						<li>
							<h4>PM2.5<span>Particulate Matter</span></h4>
							<strong><%=Inner_pm25%></strong>
						</li>
						<li>
							<h4>PM10<span>Particulate Matter</span></h4>
							<strong><%=Inner_pm10%></strong>
						</li>
						<li>
							<h4>VOC<span>Volatile Organic Compounds</span></h4>
							<strong><%=Inner_voc%></strong>
						</li>
						<li>
							<h4>CO2<span>Carbon dioxide</span></h4>
							<strong><%=Inner_co2%></strong>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<script>
		var where=0;
		var yyyy="<%=yyyy%>";
		var mm="<%=mm%>";
		var dd="<%=dd%>";
		var hour = "<%=hour%>";
		var minute = "<%=minute%>";
		var time_label=[];
		var time_data="<%=time_data%>";
		var dots=time_data.split(',');
		var ttime=Number(hour*60)+ Number(minute);

		ttime-=(minute%30);

		for(var i=11;i>=0;i--){
			var h=parseInt(ttime/60);
			var m=parseInt(ttime%60);
			if(m<10){
    			m='0'+m;
			}
			time_label[i]=String(h)+":"+String(m);
			ttime-=30;
			if(ttime<0){
				ttime=24*60-30;
            }
	   }
	   function change_dropbox()
	   {
			var select_box = document.getElementById("select_box");
			where= select_box.options[select_box.selectedIndex].value;
			change_chart();
			change_chart();
	   }
		function change_chart()
		{
		console.log(where*12,where*12+12);
		console.log(dots.slice(where*12,where*12+12));
			var ctx = document.getElementById('myChart').getContext('2d');

				var myLineChart = new Chart(ctx, {
				type: 'line',
				data: {
				label: '',
					labels: time_label,
					datasets: [{
						data: dots.slice(where*12,where*12+12),
						borderColor: "white",
						backgroundColor: 'rgb(255, 99, 132)',
						borderWidth: 3,
						fill:false, // line의 아래쪽을 색칠할 것인가? 
						lineTension:0.1, // 값을 높이면, line의 장력이 커짐.
					}],
				},
				options: {
					legend:"",
					fill:false,
					scales: {
						yAxes: [{
							stacked: false
						}]
					}
				}
			});
			
		}
	</script>
</body>
</html>