<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>숨좀쉬자</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" href="./css/main.css">

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="./js/main.js"></script>
</head>
<body>
	<div class="container">
		<header id="header">
			<button type="button" class="btn-menu">메뉴</button>
			<a href="#" class="btn-home">홈으로</a>

			<div class="nav">
				<div class="nav-wrap">
					<h2 class="logo">로고</h2>
					<div class="search-box">
						<input
								type="text"
								id="mySearch"
								onkeyup="myFunction()"
								placeholder="Search.."
								title="메뉴를 입력하세요."
						/>
						<button type="button"></button>
					</div>
					<ul id="myMenu">
							<li class="btn-choice-mode"><a href="#">메인페이지</a></li>
							<li class="active"><a href="#">상세 공기 상태</a></li>
							<li class="btn-data"><a href="#">누적 데이터</a></li>
							<li class="btn-remote"><a href="#">리모컨 기능</a></li>
							<li class="btn-mode"><a href="#">모드설정</a></li>
					</ul>
					<button type="button" class="btn-close">닫기</button>
					<button type="button" class="btn-logout" ><a href="#">로그아웃</a></button>
				</div>
			</div>
		</header>
		<div class="contents-wrap">
			<h3 class="sub-title">상세 공기 상태</h3>

			<div class="air-condition">
				<p class="time"><span><%=Inner_hh%>:<%=Inner_mm%></span> 기준</p>

				<div class="out-door">
					<h4>실외</h4>
					<ul>
						<li>
							<div class="graph">
								<div id="Outer_temp" class="now" style="height:22%;"></div>
								<div class="appropriate" style="height:22%;"></div>
							</div>
							<p>온도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_humid" class="now" style="height:50%;"></div>
								<div class="appropriate" style="height:50%;"></div>
							</div>
							<p>습도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_pm10" class="now" style="height:30%;"></div>
								<div class="appropriate" style="height:30%;"></div>
							</div>
							<p>PM10</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_voc" class="now" style="height:5%;"></div>
								<div class="appropriate" style="height:5%;"></div>
							</div>
							<p>VOC</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_pm25" class="now" style="height:15%;"></div>
								<div class="appropriate" style="height:15%;"></div>
							</div>
							<p>PM2.5</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_co2" class="now" style="height:7%;"></div>
								<div class="appropriate" style="height:7%;"></div>
							</div>
							<p>CO2</p>
						</li>
					</ul>
					<p class="warning-txt">입자의 크기에 따라 50㎛ 이하인 총먼지(TSP, Total Suspended
					Particles)와 입자크기가 매우 작은 미세먼지(PM, Particulate Matter)로 
					구분한다. 미세먼지는 다시 지름이 10㎛보다 작은 미세먼지(PM10)와 
					지름이 2.5㎛보다 작은 미세먼지(PM2.5)로 나뉜다. </p>
				</div>

				<div class="in-door">
					<h4>실내</h4>
					<ul>
						<li>
							<div class="graph">
								<div id="Inner_temp" class="now" style="height:22%;"></div>
								<div class="appropriate" style="height:22%;"></div>
							</div>
							<p>온도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_humid" class="now" style="height:50%;"></div>
								<div class="appropriate" style="height:50%;"></div>
							</div>
							<p>습도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_pm10" class="now" style="height:30%;"></div>
								<div class="appropriate" style="height:30%;"></div>
							</div>
							<p>PM10</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_voc" class="now" style="height:100%;"></div>
								<div class="appropriate" style="height:5%;"></div>
							</div>
							<p>VOC</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_pm25" class="now" style="height:30%;"></div>
								<div class="appropriate" style="height:15%;"></div>
							</div>
							<p>PM2.5</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_co2" class="now" style="height:80%;"></div>
								<div class="appropriate" style="height:7%;"></div>
							</div>
							<p>CO2</p>
						</li>
					</ul>
					<p class="warning-txt">입자의 크기에 따라 50㎛ 이하인 총먼지(TSP, Total Suspended
					Particles)와 입자크기가 매우 작은 미세먼지(PM, Particulate Matter)로 
					구분한다. 미세먼지는 다시 지름이 10㎛보다 작은 미세먼지(PM10)와 
					지름이 2.5㎛보다 작은 미세먼지(PM2.5)로 나뉜다. </p>
				</div>
			</div>
		</div>
	</div>
	<script>
		console.log("<%= Inner_hh %>");
		console.log("<%= Inner_mm %>");
			var Inner_temp="<%= Inner_temp %>";
  			var Inner_humid="<%= Inner_humid %>";
    		var Inner_pm25="<%= Inner_pm25 %>";
    		var Inner_pm10="<%= Inner_pm10 %>";
    		var Inner_voc="<%= Inner_voc %>";
    		var Inner_co2="<%= Inner_co2 %>";

			var Outer_temp="<%= Outer_temp %>";
  			var Outer_humid="<%= Outer_humid %>";
    		var Outer_pm25="<%= Outer_pm25 %>";
    		var Outer_pm10="<%= Outer_pm10 %>";
    		var Outer_voc="<%= Outer_voc %>";
			var Outer_co2="<%= Outer_co2 %>";
			
			console.log(Outer_voc);
			//$("Outer_temp").css({height : "100%"});

			document.getElementById("Inner_temp").style.height = parseInt(Inner_temp)+"%";
			document.getElementById("Inner_humid").style.height = parseInt(Inner_humid)+"%";
			document.getElementById("Inner_pm25").style.height = parseInt(Inner_pm25)+"%";
			document.getElementById("Inner_pm10").style.height = parseInt(Inner_pm10)+"%";
			document.getElementById("Inner_voc").style.height = parseInt(Inner_voc)*5+"%";
			document.getElementById("Inner_co2").style.height = parseInt(Inner_co2)/100+"%";

			document.getElementById("Outer_temp").style.height = parseInt(Outer_temp)+"%";
			document.getElementById("Outer_humid").style.height = parseInt(Outer_humid)+"%";
			document.getElementById("Outer_pm25").style.height = parseInt(Outer_pm25)+"%";
			document.getElementById("Outer_pm10").style.height = parseInt(Outer_pm10)+"%";
			document.getElementById("Outer_voc").style.height = parseInt(Outer_voc)*5+"%";
			document.getElementById("Outer_co2").style.height = parseInt(Outer_co2)/100+"%";


	</script>
	<div class="pop-up" id="Logout">
		<div class="pop-wrap">
			<div class="pop-header">
				<h3>로그아웃</h3>
			</div>
			<div class="pop-body">
				<p>정말 로그아웃 하시겠습니까?</p>
	
				<div class="btn-wrap">
					<button type="button" class="blue" onclick="location.href='/logout'">네</button>
					<button type="button" onclick="$('#Logout').fadeOut('fast')">아니오</button>
				</div>
			</div>
	
			<button type="button" class="btn-close" onclick="$('#Logout').fadeOut('fast')">닫기</button>
		</div>
	</div>
</body>

</html>