<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>숨좀쉬자</title>

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
	<link rel="stylesheet" href="./css/main.css">

	<script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
	<script src="./js/main.js"></script>
</head>
<body>
	<div class="container">
		<header id="header">
			<button type="button" class="btn-menu">메뉴</button>
			<a href="#" class="btn-home">홈으로</a>

			<div class="nav">
				<div class="nav-wrap">
					<h2 class="logo">로고</h2>
					<div class="search-box">
						<input
								type="text"
								id="mySearch"
								onkeyup="myFunction()"
								placeholder="Search.."
								title="메뉴를 입력하세요."
						/>
						<button type="button"></button>
					</div>
					<ul id="myMenu">
							<li class="btn-choice-mode"><a href="#">메인페이지</a></li>
							<li class="active"><a href="#">상세 공기 상태</a></li>
							<li class="btn-data"><a href="#">누적 데이터</a></li>
							<li class="btn-remote"><a href="#">리모컨 기능</a></li>
							<li class="btn-mode"><a href="#">모드설정</a></li>
					</ul>
					<button type="button" class="btn-close">닫기</button>
					<button type="button" class="btn-logout" ><a href="#">로그아웃</a></button>
				</div>
			</div>
		</header>
		<div class="contents-wrap">
			<h3 class="sub-title">상세 공기 상태</h3>

			<div class="air-condition">
				<p class="time"><span><%=Inner_hh%>:<%=Inner_mm%></span> 기준</p>

				<div class="out-door">
					<h4>실외</h4>
					<ul>
						<li>
							<div class="graph">
								<div id="Outer_temp" class="now" style="height:22%;"></div>
								<div class="appropriate" style="height:22%;"></div>
							</div>
							<p>온도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_humid" class="now" style="height:50%;"></div>
								<div class="appropriate" style="height:50%;"></div>
							</div>
							<p>습도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_pm10" class="now" style="height:30%;"></div>
								<div class="appropriate" style="height:30%;"></div>
							</div>
							<p>PM10</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_voc" class="now" style="height:5%;"></div>
								<div class="appropriate" style="height:5%;"></div>
							</div>
							<p>VOC</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_pm25" class="now" style="height:15%;"></div>
								<div class="appropriate" style="height:15%;"></div>
							</div>
							<p>PM2.5</p>
						</li>
						<li>
							<div class="graph">
								<div id="Outer_co2" class="now" style="height:7%;"></div>
								<div class="appropriate" style="height:7%;"></div>
							</div>
							<p>CO2</p>
						</li>
					</ul>
					<p id="Outer_notice" class="warning-txt"> </p>
				</div>

				<div class="in-door">
					<h4>실내</h4>
					<ul>
						<li>
							<div class="graph">
								<div id="Inner_temp" class="now" style="height:22%;"></div>
								<div class="appropriate" style="height:22%;"></div>
							</div>
							<p>온도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_humid" class="now" style="height:50%;"></div>
								<div class="appropriate" style="height:50%;"></div>
							</div>
							<p>습도</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_pm10" class="now" style="height:30%;"></div>
								<div class="appropriate" style="height:30%;"></div>
							</div>
							<p>PM10</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_voc" class="now" style="height:100%;"></div>
								<div class="appropriate" style="height:5%;"></div>
							</div>
							<p>VOC</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_pm25" class="now" style="height:30%;"></div>
								<div class="appropriate" style="height:15%;"></div>
							</div>
							<p>PM2.5</p>
						</li>
						<li>
							<div class="graph">
								<div id="Inner_co2" class="now" style="height:80%;"></div>
								<div class="appropriate" style="height:7%;"></div>
							</div>
							<p>CO2</p>
						</li>
					</ul>
					<p id="Inner_notice" class="warning-txt"> </p>
				</div>
			</div>
		</div>
	</div>
	<script>
		console.log("<%= Inner_hh %>");
		console.log("<%= Inner_mm %>");
			var Inner_temp="<%= Inner_temp %>";
  			var Inner_humid="<%= Inner_humid %>";
    		var Inner_pm25="<%= Inner_pm25 %>";
    		var Inner_pm10="<%= Inner_pm10 %>";
    		var Inner_voc="<%= Inner_voc %>";
    		var Inner_co2="<%= Inner_co2 %>";

			var Outer_temp="<%= Outer_temp %>";
  			var Outer_humid="<%= Outer_humid %>";
    		var Outer_pm25="<%= Outer_pm25 %>";
    		var Outer_pm10="<%= Outer_pm10 %>";
    		var Outer_voc="<%= Outer_voc %>";
			var Outer_co2="<%= Outer_co2 %>";

			var Outer_notice=['[좋음] 바깥 날씨가 좋아요^^! 창문을 열고 환기 하는게 어떨까요??','[폭염] 냉방기기를 사용하는 경우에는 실내ㆍ외 온도차를 5℃ 내외로 유지하여 냉방병을 예방하도록 합니다.(건강 실내 냉방온도는 26℃~28℃가 적당) 여름철 오후 2시에서 오후 5시 사이는 가장 더운 시간으로 실외 작업은 되도록 하지 않습니다.',
		'[한파] 무리한 신체활동이나 장시간 야외활동은 자제하고, 주기적으로 따뜻한 곳에서 휴식을 취합니다. 특히 어린이, 노약자에 해당하는 경우 외출을 삼가주세요!','[건조] 실내습도를 50~60%로 유지해주세요. 호흡기 질환자와 피부질환자는 더욱 유의해야 합니다. 실내 습도를 유지하는 방법은 이외에도 하루에 8잔 이상의 물 마시기, 저녁에 빨래를 하고 젖은 빨래들을 실내에서 건조시키기, 어항과 같은 유리잔에 물 떠놓기 등 많은 방법들이 있습니다.',
'[미세먼지 고농도] 야외활동을 자제하는게 좋아요. 피치못하게 외출할수밖에 없다면 마스크를 쓰도록 해요. 이제 창문을 닫고 솔루션을 가동시키는게 좋을것 같아요!',
'[미세먼지 주의보] 실외활동을 금지합니다. 솔루션을 가동시키세요. 특히 영유아, 노인, 호흡기 질환자에 해당된다면 주의해야합니다.',
'[미세먼지 경보] 미세먼지 농도가 매우 높아 실외활동을 금지합니다. ※반드시 솔루션을 가동시키세요!※',
'[미세먼지 나쁨] 미세먼지 농도가 조금 높네요! 노약자들은 외출을 자제하시고 솔루션을 가동시키는게 좋겠어요.',
'[CO2] 바깥 이산화탄소 농도가 높아요! 창문을 닫고 솔루션을 가동시키세요'];
			var Inner_notice=['[좋음] 실내 공기상태를 좋게 유지하고 있어요!','[건조] 공기가 건조해요! 실내 습도를 50~60%로 유지해주세요. 호흡기 질환자와 피부질환자는 더욱 유의해야 합니다.','[미세먼지 나쁨] PM10(미세먼지 수치)가 51이상으로 집안에 미세먼지가 많아요! 솔루션을 가동시켜 실내공기를 정화하는것을 추천합니다. ','[미세먼지 매우나쁨] PM10이 71이상으로 집안에 미세먼지가 매우 많아요! 당장 솔루션을 가동시켜 실내공기를 정화하세요','[이산화탄소 나쁨] 머리가 답답하지 않으신가요? 실내 이산화탄소 농도가 높아요! 솔루션을 가동시켜 환기하는것을 추천합니다.','[VOC 나쁨] 실내에 VOC(휘발성 유기화합물)의 농도가 높아요! VOC에는 벤젠과 같은 발암물질이 포함되어있어 인체에 매우 유해하므로 솔루션을 가동시켜 환기를 시키세요'];
			console.log(Outer_voc);
			//$("Outer_temp").css({height : "100%"});
			if(parseInt(Inner_temp)>100){
				document.getElementById("Inner_temp").style.height = "100%";
			}
			else{
				document.getElementById("Inner_temp").style.height = parseInt(Inner_temp)+"%";
			}
			if(parseInt(Inner_humid)>100){
				document.getElementById("Inner_humid").style.height = "100%";
			}
			else{
				document.getElementById("Inner_humid").style.height = parseInt(Inner_humid)+"%";
			}
			if(parseInt(Inner_pm25)>100){
				document.getElementById("Inner_pm25").style.height = "100%";
			}
			else{
				document.getElementById("Inner_pm25").style.height = parseInt(Inner_pm25)+"%";
			}
			if(parseInt(Inner_pm10)>100){
				document.getElementById("Inner_pm10").style.height = "100%";
			}
			else{
				document.getElementById("Inner_pm10").style.height = parseInt(Inner_pm10)+"%";
			}
			if(parseInt(Inner_voc)*5>100){
				document.getElementById("Inner_voc").style.height = "100%";
			}
			else{
				document.getElementById("Inner_voc").style.height = parseInt(Inner_voc)*5+"%";
			}
			if(parseInt(Inner_co2)/100>100){
				document.getElementById("Inner_co2").style.height = "100%";
			}
			else{
				document.getElementById("Inner_co2").style.height = parseInt(Inner_co2)/100+"%";
			}

			
			if(parseInt(Outer_temp)>100){
				document.getElementById("Outer_temp").style.height = "100%";
			}
			else{
				document.getElementById("Outer_temp").style.height = parseInt(Outer_temp)+"%";
			}
			if(parseInt(Outer_humid)>100){
				document.getElementById("Outer_humid").style.height ="100%";
			}
			else{
				document.getElementById("Outer_humid").style.height = parseInt(Outer_humid)+"%";
			}
			if(parseInt(Outer_pm25)>100){
				document.getElementById("Outer_pm25").style.height = "100%";
			}
			else{
				document.getElementById("Outer_pm25").style.height = parseInt(Outer_pm25)+"%";
			}
			if(parseInt(Outer_pm10)>100){
				document.getElementById("Outer_pm10").style.height = "100%";
			}
			else{
				document.getElementById("Outer_pm10").style.height = parseInt(Outer_pm10)+"%";
			}
			if(parseInt(Outer_voc)*5>100){
				document.getElementById("Outer_voc").style.height = "100%";
			}
			else{
				document.getElementById("Outer_voc").style.height = parseInt(Outer_voc)*5+"%";
			}
			if(parseInt(Outer_co2)/100>100){
				document.getElementById("Outer_co2").style.height ="100%";
			}
			else{
				document.getElementById("Outer_co2").style.height = parseInt(Outer_co2)/100+"%";
			}

			document.getElementById("Inner_notice").textContent=[];
			document.getElementById("Outer_notice").textContent=[];

			if(parseInt(Outer_temp)>=33){
				document.getElementById("Outer_notice").textContent=Outer_notice[1]; // 폭염
			}
			else if(parseInt(Outer_temp)<=3){
				document.getElementById("Outer_notice").textContent=Outer_notice[2]; // 한파
			}
			else if(parseInt(Outer_pm10)>300){
				document.getElementById("Outer_notice").textContent=Outer_notice[6]; // 미세먼지 경보
			}
			else if(parseInt(Outer_pm10)>150){
				document.getElementById("Outer_notice").textContent=Outer_notice[5]; // 미세먼지 주의보
			}
			else if(parseInt(Outer_pm10)>81){
				document.getElementById("Outer_notice").textContent=Outer_notice[4]; // 미세먼지 고농도
			}
			else if(parseInt(Outer_pm10)>=51){
				document.getElementById("Outer_notice").textContent=Outer_notice[7]; // 미세먼지 나쁨
			}
			else if(parseInt(Outer_co2)>=1000){
				document.getElementById("Outer_notice").textContent=Outer_notice[8]; // co2 나쁨
			}
			else if(parseInt(Outer_humid)<=35){
				document.getElementById("Outer_notice").textContent=Outer_notice[3]; // 건조
			}
			else{
				document.getElementById("Outer_notice").textContent=Outer_otice[0]; //좋음
			}

			if( parseInt(Inner_pm10)>=71){
				document.getElementById("Inner_notice").textContent=Inner_notice[3]; // 미세먼지 매우나쁨
			}else if( parseInt(Inner_pm10)>=51){
				document.getElementById("Inner_notice").textContent=Inner_notice[2]; // 미세먼지 나쁨
			}else if( parseInt(Inner_co2)>=1000){
				document.getElementById("Inner_notice").textContent=Inner_notice[4]; // 이산화탄소 나쁨
			}else if( parseInt(Inner_voc)>=10){
				document.getElementById("Inner_notice").textContent=Inner_notice[5]; // voc 나쁨
			}else if( parseInt(Inner_humid)<=35){
				document.getElementById("Inner_notice").textContent=Inner_notice[1]; // 건조
			}else{
				document.getElementById("Inner_notice").textContent=Inner_notice[0]; // 좋음
			}
	</script>
	<div class="pop-up" id="Logout">
		<div class="pop-wrap">
			<div class="pop-header">
				<h3>로그아웃</h3>
			</div>
			<div class="pop-body">
				<p>정말 로그아웃 하시겠습니까?</p>
	
				<div class="btn-wrap">
					<button type="button" class="blue" onclick="location.href='/logout'">네</button>
					<button type="button" onclick="$('#Logout').fadeOut('fast')">아니오</button>
				</div>
			</div>
	
			<button type="button" class="btn-close" onclick="$('#Logout').fadeOut('fast')">닫기</button>
		</div>
	</div>
</body>

</html>